.crazy-bot-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display:  flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    border-color:#f50057;
    background-color: #f50057;
    color: #ffffff;
    margin-right: 15px;
}